.row {

    &__column {

        margin-right: 20px;
        display: inline-block;
        vertical-align: top;

        &_size_s {
            width: 175px;
        }

        &_size_m {
            width: 370px;
        }
    }

}
