.transactions-filter {
    &__period {
        display: inline-block;

        //TODO: remove this hack
        &.button {
            .period-picker-main-button-content__icon {
                background-image: url(images/picker_white.svg);
            }
            &_checked {
                .period-picker-main-button-content__icon {
                    background-image: url(images/picker.svg);
                }
            }
        }

    }

    &__search {
        width: 35%;
        margin-right: 40px;
    }
}
