//TODO: copypast from debit amount field
.credit-amount-field {

    &__amount-input {
        .input__right-addons {
            vertical-align: middle;
        }
    }

    &__currency {
        font-weight: 100;
        font-size: 20px;
    }

}
