.exchange-rate-hint {

    position: absolute;
    width: 160px;
    padding: 0 30px 30px 30px;
    background-color: rgba(255, 255, 255, 0.05);

    &_hidden {
        display: none;
    }

    .heading {
        margin-bottom: 0;
    }

    .heading:first-child {
        margin-top: 0;
    }

    &__exchange, &__fee {
        margin-top: 25px;
    }

    //TODO: fix it in component's library
    .heading_lvl_4 {
        font-size: 22px;
    }

    .label_size_l {
        font-size: 16px;
    }

    .label {
        display: block;
    }

}
