html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll; /* To avoid page jumps during loading. */
}

.react-app {
    display: table; /* Hack to draw footer at bottom on empty page. */
    width: 100%;
    height: inherit;
}

.page {
    display: table-cell;
    position: relative;
    box-sizing: border-box;
    padding: 0px 15px; /* Reserve space for footer. */
}

.page__footer {
    width: 100%;
    overflow: hidden; /* To remove scroll on empty page, because inner layout are buggy. */
}

.footer__copyright {
    padding: 0;
}

.header__menu {
    display: inline-block;
}
