.page_theme_alfa-on-color {
    background: url(images/map.svg);
    margin: 0;
    padding: 0;
    background-size: 100%;
}

.page {

    .heading {
        font-weight: 200;
    }

    .label {
        font-weight: 200;
    }
}


.page_theme_alfa-on-color:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background:
        -webkit-linear-gradient(45deg, hsla(205, 74%, 17%, 1) 0%, hsla(205, 74%, 17%, 0) 70%),
        -webkit-linear-gradient(315deg, hsla(194, 42%, 41%, 1) 10%, hsla(194, 42%, 41%, 0) 80%),
        -webkit-linear-gradient(225deg, hsla(215, 52%, 15%, 1) 10%, hsla(215, 52%, 15%, 0) 80%),
        -webkit-linear-gradient(135deg, hsla(219, 31%, 18%, 1) 100%, hsla(219, 31%, 18%, 0) 70%);
    background:
        linear-gradient(45deg, hsla(205, 74%, 17%, 1) 0%, hsla(205, 74%, 17%, 0) 70%),
        linear-gradient(135deg, hsla(194, 42%, 41%, 1) 10%, hsla(194, 42%, 41%, 0) 80%),
        linear-gradient(225deg, hsla(215, 52%, 15%, 1) 10%, hsla(215, 52%, 15%, 0) 80%),
        linear-gradient(315deg, hsla(219, 31%, 18%, 1) 100%, hsla(219, 31%, 18%, 0) 70%);
}
