.sms-field {

    .button {
        width: 100%;
    }

    .form-field {
        padding-bottom: 10px;
    }

    &__send-btn {
        margin-top: 10px;
        
        .spin {
            margin: 10px 5px 0 0;
        }
    }

}
