.app-transfer {

    .exchange-rate-hint {
        margin-left: 80px;
    }

    &__debit {
        .section__title {
            margin-top: 20px;
        }
    }

    &__target {
        .section__title {
            margin-top: 20px;
        }
    }

    &__transfer-btn .button {
        width: 100%;
    }

}
