.section {

    margin-left: 240px;
    width: 992px;
    position: relative;

    &_hidden {
        display: none;
    }

    &__title {
        position: absolute;
        left: -200px;
        width: 160px;
        text-align: right;
    }

    &__content {

    }
}
