.account-select {

    &__title {
        display: table;
        width: 100%;
    }

    &__name {
        display: table-cell;
        width: 50%;
    }

    &__number {
        display: table-cell;
        width: 20%;
    }

    &__amount {
        display: table-cell;
        text-align: right;
        padding-right: 5px;
    }
}
