.transaction {
    display: block;
    list-style-type: none;
    border-top: solid 1px rgba(255,255,255,.5);
    overflow: hidden;
    padding: 30px 0;

    height: 140px; /* Speed up render with const value. */
    max-height: 155px;
    &_expanded {
        height: auto;
        max-height: 1000px;

        .transaction__hide {
            margin-top: 20px;
        }
    }

    transition: all .25s linear; /* Animate expand/collapse. */

    &__transaction-col {
        display: inline-block;
        vertical-align:top;
    }

    &__time {

        .label {
            display: block;
            margin-bottom: 5px;
        }
    }

    &__status {
        margin-top: 32px;

        .icon {
            margin-right: 10px;
        }

        .label {
            opacity: 0.4
        }
    }
    &__field-label {
         .label {
             display: block;
             margin-bottom: 20px;
         }
    }

    &__field-value {
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .label {
            display: block;
            margin-bottom: 20px;
        }
    }
    &__repeat-payment {
        position: absolute;
        right: 0px;

        .icon {
            margin-right: 10px;
        }
    }
    &__tool-buttons {
        .icon {
            margin-right: 10px;
        }
        .button {
            width: 47%;
        }
        .button:first-child {
            margin-right: 20px;
        }

    }
}
