<!doctype html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <title>Протип Единого Клика</title>
        <link href='assets/app.{{{hash}}}.css' rel="stylesheet">
    </head>
    <body>
      <div id='react-app' class='react-app'>{{{content}}}</div>
      <script src="assets/vendor.bundle.{{{hash}}}.js"></script>
      <script src="assets/app.{{{hash}}}.js"></script>
      <script>
            window.initialState = JSON.parse('{{{ initialState }}}');
            document.addEventListener('DOMContentLoaded', function() {
                window.runApp(window.initialState);
            });
      </script>
</html>
